.item {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(190, 150, 254);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text {
    font-size: 1rem;
    color: rgb(190, 150, 254);
}
